# ==========================================
# Backend
# ==========================================

fastapi==0.116.1
uvicorn[standard]==0.35.0

python-dotenv==1.1.1
python-multipart==0.0.20

pydantic==2.11.7
pydantic-settings==2.10.1

# ==========================================
# Database
# ==========================================

sqlalchemy==2.0.41
alembic==1.16.4
psycopg[binary]==3.2.9

# ==========================================
# Authentication
# ==========================================

passlib[bcrypt]==1.7.4
bcrypt==4.3.0
python-jose==3.5.0
email-validator==2.2.0

# ==========================================
# AI Framework
# ==========================================

langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.72
langchain-text-splitters==0.3.9

langgraph==0.5.4

langchain-chroma==0.2.5
chromadb==1.0.15

# ==========================================
# Embeddings / LLM
# ==========================================

sentence-transformers==5.0.0
transformers==4.54.1

torch==2.7.1

ollama==0.5.1

# ==========================================
# Document Processing
# ==========================================

pymupdf==1.26.3
pdfplumber==0.11.7

python-docx==1.2.0

pandas==2.3.1
numpy==2.3.1

openpyxl==3.1.5

easyocr==1.7.2

Pillow==11.3.0

# ==========================================
# Visualization
# ==========================================

plotly==6.2.0

# ==========================================
# Utilities
# ==========================================

tqdm==4.67.1

requests==2.32.4

httpx==0.28.1

aiofiles==24.1.0


rich==14.1.0

# ==========================================
# Advanced RAG
# ==========================================

unstructured==0.18.11

tiktoken==0.9.0

rank-bm25==0.2.2

rapidfuzz==3.13.0